<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JingYiYuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BFF8BD2B1F5FA7D700FBAB04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF8BD441F5FA7D700FBAB04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BFF8BD4F1F5FA7D700FBAB04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
